<script src="/hooks/xiaomi-home/js/xiaomi.config.js"></script>
<script src="/hooks/xiaomi-home/js/xiaomi.controller.js"></script>
<script src="/hooks/xiaomi-home/js/xiaomi.service.js"></script>

 <div data-ng-controller="xiaomiCtrl as vm">
    <div class="box skin-box box-default no-border ng-cloak">
        <div class="box-header with-border">
            <h3 class="box-title">BROADLINK</h3>
        </div>
    </div>
    <div class="form-group">
    <div class="row">
        <div class="col-xs-3">
        </select>
        </div>
    </div>
    </div>
</div> 
